<!DOCTYPE html>
<html>
	<head>
	</head>
		<link type="text/css" href="css/style.css"  rel="stylesheet"/>
		<title>Quickpacket</title>
	
	<body>
		<div class="icon-bar">
			<a class="active" href="/">Főoldal</a>
	  		<a href="/login" sec:authorize="!isAuthenticated()">Bejelentkezés</a>
	  		<a href="/signup" sec:authorize="!isAuthenticated()">Regisztráció</a>
	  		<a href="/packetsending" sec:authorize="!hasAuthority('courier')">Csomagfeladás</a>
	  		<a href="/packettaking" sec:authorize="!hasAuthority('courier')">Csomagátvétel</a>
	  		<a href="/containerfilling" sec:authorize="hasAuthority('courier')">Automata feltöltése</a>
	  		<a href="/containeremptying" sec:authorize="hasAuthority('courier')">Automata kiürítése</a>
			<form th:action="@{/logout}" method="POST" id="frmlogout" sec:authorize="isAuthenticated()">
				<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Kijelentkezés</a>
			</form>
		</div>
		<div class="contentDiv">
			<div>
				Üdvözlünk <span sec:authentication="name"></span>
			</div>
			<div>
				Az automata címe: <span th:text="${actualContainer}"></span>
			</div>
		</div>

	</body>
</html>