<!DOCTYPE html>
<html>
	<head>
	</head>
		<link type="text/css" href="css/style.css" th:href="@{/css/style.css}"  rel="stylesheet"/>
		<title>Bejelentkezés</title>
	
	<body>
		<div class="icon-bar">
			<a class="active" href="/index">Főoldal</a>
	  		<a href="/login">Bejelentkezés</a>
	  		<a href="/signup">Regisztráció</a>
	  		<a href="/packetsending">Csomag feladás</a>
	  		<a href="/packettaking">Csomag átvétel</a>
	  		<a href="/containerfilling">Automata feltöltése</a>
	  		<a href="/containeremptying">Automata kiürítése</a>
		</div>
		<div class="contentContainer">
			<div class="loginFormDiv">
				<form class="loginForm">
					<label>Felhasználói név</label>
						<input type="text"/>
					<label>Jelszó</label>
						<input type="password"/>
					<button type="submit">Bejelentkezés</button>
				</form>
			</div>
				<div class="courierLoginFormDiv">
					<form class="courierLoginForm">
						<label>Futár azonosító</label>
							<input type="text"/>
						<label>Jelszó</label>
							<input type="password"/>
						<button type="submit">Bejelentkezés</button>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>