<!DOCTYPE html>
<html>
	<head>
	</head>
		<link type="text/css" href="css/style.css"  rel="stylesheet"/>
		<title>Csomagküldés</title>
	
	<body>
		<div class="icon-bar">
			<a class="active" href="/index">Főoldal</a>
	  		<a href="/login">Bejelentkezés</a>
	  		<a href="/signup">Regisztráció</a>
	  		<a href="/packetsending">Csomag feladás</a>
	  		<a href="/packettaking">Csomag átvétel</a>
	  		<a href="/containerfilling">Automata feltöltése</a>
	  		<a href="/containeremptying">Automata kiürítése</a>
		</div>
		<div>
			<p>Csomag küldése</p>
			<table id="packetSendingContainer">
				<tr>
				</tr>
			</table>
			<div class="packetSendingFormDiv">
				<form class="packetSendingForm" th:action="@{/packetsendingform}" th:object="${package}" method="POST">
					<label>A csomag szélessége</label>
						<input type="number" id="width" name="width" th:field="*{width}" min="1" max="145"/>
					<label>A csomag magassága</label>
						<input type="number" id="height" name="height" th:field="*{height}" min="1" max="145"/>
					<label>A csomag hossza</label>
						<input type="number" id="length" name="length" th:field="*{length}" min="1" max="145"/>
					<label>Átvevő vezeték neve</label>
						<input type="text" id="receiverLastName" name="receiverLastName" th:field="*{receiverLastName}"/>
					<label>Átvevő kereszt neve</label>
						<input type="text" id="receiverFirstName" name="receiverFirstName" th:field="*{receiverFirstName}"/>
					<label>Átvevő email címe</label>
						<input type="text" id="receiverEmailAddress" name="receiverEmailAddress" th:field="*{receiverEmailAddress}"/>
					<label>A csomag ára</label>
						<input type="number" id="price" name="price" th:field="*{price}" min="0"/>
					<label>Válassz automatát, ahová küldeni szeretnéd a csomagot.</label>
						<select th:name="selectedShippingToCity">
							<option value="Székesfehérvár">Székesfehérvár</option>
							<option value="Tapolca">Tapolca</option>
							<option value="Szeghalom">Szeghalom</option>
							<option value="Csopak">Csopak</option>
							<option value="Kőszeg">Kőszeg</option>
						</select>
					<button type="submit">Küldés</button>
				</form>
			</div>
		</div>

	</body>
</html>