.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}

/*Fő tartalom div*/
.contentContainer{

}

/*Csomagküldő form*/
.packetSendingFormDiv{
  position: fixed;
}

.packetSendingForm{
  max-width: 150px;
  padding: 10px;
}

/*Login form*/
.loginFormDiv{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;

}

.loginForm{
  max-width: 150px;
  padding: 10px;
}

/*Futár login form*/
.courierLoginFormDiv{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;

}

.courierLoginForm{
  max-width: 150px;
  padding: 10px;
}

/*Regisztrációs form*/
.signUpFormDiv{
  position: fixed;
}

.signUpForm{
  max-width: 150px;
  padding: 10px;
}

/*Csomagátvétel form*/
.packetTakingFormDiv{
  position: fixed;
}

.packetTakingForm{
  max-width: 150px;
  padding: 10px;
}

/*Automata feltöltése form*/
